<header style="line-height: 80px;padding: 0 50px;background: #404040;">
  <h1 style="display: inline-block;color: white">看荐内容聚合平台</h1>
  <ul nz-menu [nzMode]="'horizontal'"
      style="color: white;display: inline-block;float: right;border: none;line-height: 78px;background: transparent">
    <li nz-menu-item>首页</li>
    <li nz-menu-item nzDisabled>管理后台</li>
  </ul>
</header>
<main style="background: #ececec;position: absolute;top: 80px;bottom: 50px;left: 0;right: 0">
  <aside style="height: 100%;width: 250px;margin-left: 50px;background: white">
    <ul nz-menu [nzMode]="'inline'">
      <li routerLink="/zorro" nz-menu-item>
        <span title><i class="anticon anticon-mail"></i>专辑管理</span>
      </li>
      <li routerLink="./type" nz-menu-item>
        <span title><i class="anticon anticon-appstore"></i>分类管理</span>
      </li>
    </ul>
  </aside>
  <!--内容框-->
  <router-outlet></router-outlet>
</main>
<footer style="position: absolute;bottom: 0;left: 0;right: 0;height: 50px;background: #404040"></footer>
